body {
background-color: black;
font-family: "helvetica"; sans serif;
font-size: 22px;
color: seashell;
margin: auto;
padding: 0;
opacity: 0,9;
}

main {
position: relative;
text-align: center;
}
  /* header */

header {
border-bottom: 1px solid seashell;
position: fixed;
z-index: 1;
display: flex;
width: 100%;
height: 69px;
background-color: black;
}

nav a {
color: seashell;
text-align: center;
padding: 20px 10px;
display: inline-block;
padding: 20px;
border: 1px solid white;
}

.logo img {
height: 50px;
padding-left: 10px;
}

  /* Mission */

.mission {
display: flex;
align-items: center;
justify-content: center;
background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
height: 700px;
width: 1200px;
margin: auto;
}

.text-content {
display: block;
background-color: black;
width: 1200px;
}

/* Featured Tea  */

#featured-tea {
width: 1000px;
align-items: center;
margin: auto;

}

.teas {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.tea {
margin: 5px;
}

.tea img {
width: 300px;
height: 200px;
margin: 10px;
}

p {
padding-bottom: 5px;
font-weight: bold;
}

/* Location */

#location {
background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
height: 500px;
width: 1200px;
padding-top: 30px;
display: block;
align-items: center;
margin: auto;

}

.cities {
display: flex;
flex-direction: row;
justify-content: center;
}

.downtown, .bayside, .oakdale {
display: flex;
background-color: black;
flex-direction: column;
width: 300px;
height: 285px;
padding: 0px 20px;
opacity: 1;
margin: 10px 20px;
}

/* Contact */

.contact {
height: 200px;
}

/* Footer */
.Footer  {
text-align: left;
margin: 20px;

}

    { } { }
